# Ignore everything in the root except the "wp-content" directory.
/*

# Show git ignore & wp-content folder.
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# directory
wp-content/*
!wp-content/plugins/
 
# Ignore everything in the "plugins" directory, except the related post
# plugin.
wp-content/plugins/*

!wp-content/plugins/weeb-related-posts

